langchain
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langgraph
langchain-text-splitters

faiss-cpu

pymupdf

python-dotenv

streamlit

langchain-huggingface
sentence-transformers